.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name,
.pass{
    display: flex;
    gap: 20px;
}
.em{
    width: 500px;
    position: relative;
    margin-bottom: 30px;

}
.email{
    width: 450px;
}
.gender{
    margin-left: -15%;
}
.gender h3{
    color: rgb(61, 165, 123);
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
.genderInput{
    display: flex;
    gap: 5px;
}
.countries{

    margin-top: 30px;
display: flex;
gap: 50px;
}
.countries select{
    border: 2px solid rgb(61, 165, 123);
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* From uiverse.io by @alexruix */
.input-group {
    position: relative;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #777;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.user-label {
    position: absolute;
    left: 15px;
    color: #000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid rgb(61, 165, 123);
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
    color: rgb(61, 165, 123);
}

/* From uiverse.io */
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    background-color: white;
    width: 200px;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: white;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

.button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.formBtn{
    margin-top: 50px;  
}
.formBtn button,
.countries select,
.genderInput{
font-family: 'Lobster', cursive;
font-size: 18px;
}

.error{
    color: red;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.all{
    display: flex;
    gap: 10%;
    margin: 30px;
}